@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.custom-scrollbar-1{
    scroll-behavior: smoth;

    --thumb-color: rgba(134,107,255,1);
    --track-color: rgba(209,107,255,1);

    scrollbar-width: thin;
    scrollbar-color: var(--thumb-color) var(--track-color);
    
}
.custom-scrollbar-1::-webkit-scrollbar{
  width: 6px;
}
.custom-scrollbar-1::-webkit-scrollbar-track {
  background: var(--track-color);
}
.custom-scrollbar-1::-webkit-scrollbar-thumb {
  background-color: var(--track-color);
  border-radius: 6px;
}